<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    @Html.Partial("Navbar.Header")
    @Html.Partial("Navbar.TopLinks")
    @Html.Partial("Navbar.Sidebar")
</nav>